<div class="container">
    <div class="row">
        <div class="form-group col-md-12">
            <div>
                <h1>Reactive Angular Form</h1>
            </div>
            <form [formGroup]="udataform">
                <label for="fname">FirstName: </label>
                <input id="fname" type="text" formControlName="fname">

                <label for="fname">MIddleName: </label>
                <input id="fname" type="text" formControlName="mname">

                <label for="fname">LastName: </label>
                <input id="fname" type="text" formControlName="lname">
                
                <label for="fullname_text">TextArea </label>
                <textarea id="fullname_text" type="text" formControlName="fulltextarea"> </textarea>
                <div class="form-group">
                    div.                
                </div>
            </form>

        </div>
    </div>
</div>