<div class="container">
    <div class="row">
        <div class="form-group col-md-12">
            <div>
                <h1>Reactive Angular Form</h1>
            </div>
            <form [formGroup]="udataform" class="form-group" (ngSubmit)="onSubmit()">
                <label for="fname">FirstName: </label>
                <input id="fname" class="form-control" type="text" formControlName="fname">

                <label for="fname">MIddleName: </label>
                <input id="fname" type="text" class="form-control" formControlName="mname">

                <label for="fname">LastName: </label>
                    <input  id="fname" 
                            type="text" 
                            class="form-control" 
                            formControlName="lname">

                <label for="fullname_text">TextArea </label>
                    <textarea   id="fullname_text" 
                                class="form-control" 
                                type="text"
                                formControlName="fulltextarea"
                            > </textarea>


                <div class="col-md-12">
                        <label for="age">Age</label>
                        <input type="number" name="age" placeholder="Enter Age" required>
                </div>

                <div class="form-group">
                        <label>Gender</label>
                            <div class="radio" *ngFor="let gender of genders">
                                <label for="female">
                                    <input type="radio" name="gender" formControlName="gender" id="female">{{gender}}
                                </label>
                            </div>

                <div>
                    <label for="company">Company</label>
                        <select id="company" class="form-control" formControlName="company" name="company">
                            <option value="TechExtensor">TechExtensor</option>
                            <option value="Google">Google</option>
                            <option value="yahoo">yahoo</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Prixma">Prixma</option>
                        </select>
                </div>
                    
                <div class="col-md-12">
                    <label>Hobby</label>
                        <div class="hob">
                            <label>
                                <input type="checkbox" name="dancer" formControlName="dancing">Dancing
                            </label>
                            <label>
                                <input type="checkbox" name="singer" formControlName="singing">Singing
                            </label>
                            <label>
                                <input type="checkbox" name="swimer" formControlName="swiming">Swiming
                            </label>
                            <label>
                                <input type="checkbox" name="player" formControlName="football">Football
                            </label>
                            <label>
                                <input type="checkbox" name="gamer" formControlName="gaming">Gaming 
                            </label>
                        </div>

                        <div class="btns btn-group col-md-5">
                            <button type="submit" name="submit" class="btn btn-primary btn-sm">SUBMIT</button>
                            <button type="button" name="reset" class="btn btn-primary btn-sm">RESET</button>
                            <button type="button" name="add" class="btn btn-primary btn-sm">FETCH DATA</button>
                            <button type="button" name="clear" class="btn btn-danger btn-sm">CLEAR</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>