<div class="container-md">
    <div class="text-center "><h1>Angular Test-1</h1></div>
    <div class="row" >
        <div class="col-xs-12" >
            <label>
                <input type="number" 
                        placeholder="Enter Number" 
                        min="1"
                        max="2"
                        required
                        [(ngModel)]="homeNumber"
                        >
            </label>
        </div>
            <button type="submit" class="btn btn-primary"  (click)="onSubmit()" routerLink ="/TdForm">Submit</button>
            <button type="button" style="display:block" class="btn btn-danger" (click)="clear()">clear</button>
            <router-outlet></router-outlet>
    </div>
</div>
